<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="carkMsSQLHelper" connectionString="data source=.\SQLEXPRESS;initial catalog=bookstoremanager;integrated security=True;"/>-->
    
    <add name="carkMsSQLHelper" connectionString=""/>
  </connectionStrings>
</configuration>
